<template>
  <div class="container">
    <header>
      <slot name="header"></slot>
    </header>
    <main>
      <router-view></router-view>
    </main>
    <footer>
      <slot name="footer"></slot>
    </footer>
</div>
</template>

<script>
export default {
  data() {
    return {
      msg: 'Hello Vue!',
    };
  },
};


</script>
