<template>
  <div class="computo-wrapper">
    <div class="container">
      <div class="computo">
        <h3>Último Cómputo</h3>
        <h2>
          <span><i>{{separateNumbers(animatedcomputo)[0]}}</i></span>
          <span><i>{{separateNumbers(animatedcomputo)[1]}}</i></span>
          <span><i>{{separateNumbers(animatedcomputo)[2]}}</i></span>
          <span><i>{{separateNumbers(animatedcomputo)[3]}}</i></span>
          <span><i>{{separateNumbers(animatedcomputo)[4]}}</i></span>
          <small>rollos de toalla nova</small></h2>
      </div>
    </div>
  </div>
</template>
<script>
import TWEEN from 'tween.js';

import { mapState, mapMutations } from 'vuex';
export default {
  data: function data() {
    return {
      animatedcomputo: 0,
    };
  },
  computed: {
    ...mapState({
      computo: state => state.computo,
    }),
  },
  methods: {
    ...mapMutations([
      'computoSet',
    ]),
    separateNumbers: (num) => {
      const setarr = [0, 0, 0, 0, 0];
      const arnum = num.toString().split('');
      for (let i = 0; i < setarr.length; i++) {
        setarr[setarr.length - i - 1] = arnum[arnum.length - i - 1] || 0;
      }
      return setarr;
    },
  },
  created: function created() {
    this.$http.get('http://sfb.multinetlabs.com/cmpc/campanas/10/').then((response) => {
      this.computoSet(response.body.total_unicos * 5);
    }, (response) => {
      // console.info('Cómputo Error!!', response);
    });
  },
  watch: {
    computo: function computo(newValue, oldValue) {
      const vm = this;
      function animate(time) {
        requestAnimationFrame(animate);
        TWEEN.update(time);
      }
      const an = new TWEEN.Tween({ tweeningNumber: oldValue }).easing(TWEEN.Easing.Quadratic.Out).to({ tweeningNumber: newValue }, 3000)
      .onUpdate(function onUpdate() {
        vm.animatedcomputo = this.tweeningNumber.toFixed(0);
      });
      an.start();
      animate();
    },
  },
};
</script>
<style lang="scss" scoped>
  $breaks:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );
  @mixin respond-to($media) {
    @if $media == xs {
      @media only screen and (max-width: map-get($breaks, sm) - 1) {
        @content;
        // border: 1px solid black;
      }
    }
    @else if $media == sm {
      @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
        @content;
        // border: 1px solid #0f0;
      }
    }
    @else if $media == md {
      @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
        @content;
        // border: 1px solid #f0f;
      }
    }
    @else if $media == lg {
      @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
        @content;
        // border: 1px solid #f00;
      }
    }
    @else if $media == xl {
      @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
    }
  }
  .computo-wrapper{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    .start &{
      position: relative;
    }
    .container{
      position: relative;
    }
  }
  .computo{
    position: absolute;
    top: 0;
    right: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    // color: #f34d59;
    font-family: 'Cubano', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 10px 10px;
    .start &{
      position: relative;
      left: 0;
      right: 0;
      margin: 0 auto 20px;
      border-radius: 10px;
    }
    @include respond-to(xs){
      padding: 10px 5px 5px;
    }
    @include respond-to(sm){
      right: auto;
      left: 20px;
      padding: 10px 5px 5px;
    }
    @include respond-to(md){
      right: auto;
      left: 20px;
      padding: 10px 5px 5px;
    }
    @include respond-to(lg){
      right: 30px;
    }
    h3{
      color: #5ec7bb;
      font-size: 22px;
      margin: 0;
      @include respond-to(xs){
        font-size: 16px;
      }
    }
    h2{
      color: #5ec7bb;
      margin: 0;
      font-size: 30px;
      line-height: 32px;
      position: relative;
      @include respond-to(xs){
        font-size: 20px;
        line-height: 22px;
      }
      span{
        color: white;
        width: 32px;
        height: 32px;
        @include respond-to(xs){
          width: 22px;
          height: 22px;
        }
        display: inline-block;
        position: relative;
        margin: 0 -2px;
        i{
          position: relative;
          z-index: 2;
          font-style: normal;
        }
        &:after{
          background-color: #f4505c;
          position: absolute;
          z-index: 0;
          content: ' ';
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 50px;
        }
        &:before{
          content: ' ';
          position: absolute;
          top: 50%;
          margin-top: -2px;
          left: -3px;
          right: -3px;
          border-top: 4px solid #c3121f;
          z-index: 0;
        }
        &:last-of-type{
          &:before{
            right: 0;
          }
        }
        &:first-of-type{
          &:before{
            left: 0;
          }
        }
      }
      small{
        font-family: Avenir, sans-serif;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: normal;
        @include respond-to(xs){
          font-size: 11px;
        }
      }
    }
  }
</style>
