<template>
  <canvas id="canvas"></canvas>
</template>
<script>
/* eslint-disable func-names */
/* eslint-disable prefer-arrow-callback */
/* eslint-disable prefer-template */
import $ from 'jquery';

export default{
  data: function data() {
    return {
      canvas: '',
      width: window.innerWidth,
      height: window.innerHeight,
      confettiHandler: null,
      mp: 100,
      particles: [],
      tiltChangeCountdown: 0,
      angle: 0,
      tiltAngle: 0,
    };
  },
  methods: {
    initConfetti: function initConfetti() {
      this.canvas.width = this.width;
      this.canvas.height = this.height;
      for (let i = 0; i < this.mp; i++) {
        this.particles.push({
          x: Math.random() * this.width, // coordenada x
          y: Math.random() * this.height, // coordenada y
          r: this.randomFromTo(2, 40), // tamaño partículas
          d: (Math.random() * this.mp) + 5, // densidad
          color: 'rgba(' + Math.floor((Math.random() * 255)) + ', ' + Math.floor((Math.random() * 255)) + ', ' + Math.floor((Math.random() * 255)) + ', 0.8)',
          tilt: Math.floor(Math.random() * 5) - 5,
          tiltAngleIncremental: (Math.random() * 0.1) + 0.2,
          tiltAngle: 0,
        });
      }
      this.startConfetti();
    },
    updateConfetti: function updateConfetti() {
      this.angle += 0.01;
      this.tiltAngle += 0.1;
      this.tiltChangeCountdown--;
      for (let i = 0; i < this.mp; i++) {
        const p = this.particles[i];
        p.tiltAngle += p.tiltAngleIncremental;
        p.y += (Math.cos(this.angle + p.d) + 1 + p.r / 2) / 2;
        p.x += Math.sin(this.angle);
        p.tilt = (Math.sin(p.tiltAngle - (i / 3))) * 15;
        if (p.x > this.width + 5 || p.x < -5 || p.y > this.height) {
          if (i % 5 > 0 || i % 2 === 0) {
            this.particles[i] = {
              x: Math.random() * this.width,
              y: -10,
              r: p.r,
              d: p.d,
              color: p.color,
              tilt: Math.floor(Math.random() * 10) - 10,
              tiltAngle: p.tiltAngle,
              tiltAngleIncremental: p.tiltAngleIncremental,
            };
          } else {
            if (Math.sin(this.angle) > 0) {
              this.particles[i] = {
                x: -5,
                y: Math.random() * this.height,
                r: p.r,
                d: p.d,
                color: p.color,
                tilt: Math.floor(Math.random() * 10) - 10,
                tiltAngleIncremental: p.tiltAngleIncremental,
              };
            } else {
              this.particles[i] = {
                x: this.width + 5,
                y: Math.random() * this.height,
                r: p.r,
                d: p.d,
                color: p.color,
                tilt: Math.floor(Math.random() * 10) - 10,
                tiltAngleIncremental: p.tiltAngleIncremental,
              };
            }
          }
        }
      }
    },
    initInterval: function initTimer() {
      // console.log(this.intervalID);
      if (typeof this.intervalID === 'number') {
        this.cancelInterval();
      }
      this.intervalID = window.setInterval(this.drawConfetti, 12);
    },
    cancelInterval: function cancelTimer() {
      window.clearInterval(this.intervalID);
      this.intervalID = undefined;
    },
    startConfetti: function startConfetti() {
      this.canvas.width = this.width;
      this.canvas.height = this.height;
      this.initInterval();
    },
    drawConfetti: function drawConfetti() {
      const context = this.canvas.getContext('2d');
      context.clearRect(0, 0, this.width, this.height);
      for (let i = 0; i < this.mp; i++) {
        const p = this.particles[i];
        context.beginPath();
        context.lineWidth = p.r / 2;
        context.strokeStyle = p.color;
        context.moveTo(p.x + p.tilt + (p.r / 4), p.y);
        context.lineTo(p.x + p.tilt, p.y + p.tilt + (p.r / 4));
        context.stroke();
      }
      this.updateConfetti();
    },
    randomFromTo: (from, to) => {
      return Math.floor(Math.random() * (to - from + 1) + from);
    },
  },
  mounted: function mounted() {
    this.canvas = $('#canvas')[0];
    this.initConfetti();
  },
};
</script>
<style lang="scss">
  #canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
</style>
