<template>
  <div class="end">
    <div class="message">
      <h2>¡ESTÁS A UN PASO!</h2>
      <h3>Ayúdanos a alcanzar la meta de 10.000 rollos participando con tus datos o con Facebook</h3>
    </div>
    <form v-on:submit.prevent="formSubmit()">
      <div class="form-group">
        <input class="form-control" type="text" name="name" value="" v-model="name" placeholder="tu nombre">
      </div>
      <div class="form-group">
        <input class="form-control" type="email" name="email" value="" v-model="email" placeholder="tuemail@teleton.cl">
      </div>
      <button class="btn btn-block btn-rojo">
        Enviar con email <i class="fa fa-chevron-right"></i>
      </button>
    </form>
    <span class="separator">ó</span>
    <a @click="fbTrigger()" class="btn btn-block btn-facebook">Enviar con Facebook <i class="fa fa-facebook"></i></a>
    <Overlay v-bind:defaultPhrases="['¡¡NUEEEEEEVOOO COMPUTOOOOOOOOO!!', ]"></Overlay>
  </div>
</template>

<script>
import Overlay from './Overlay';
/* globals FB */
export default {
  components: {
    Overlay,
  },
  data: function data() {
    return {
      name: '',
      email: '',
    };
  },
  methods: {
    fbLogin: function fbLogin() {
      FB.login((response) => {
        // console.log('FB Login:', response);
      }, { scope: 'public_profile,email' });
    },
    fbRegister: function fbRegister() {
      FB.api('/me', { fields: 'name,email' }, (response) => {
        this.regTrigger(response.name, response.email);
      });
    },
    statusChangeCallback: function statusChangeCallback(response) {
      // console.log(response);
      if (response.status === 'connected') {
        // console.log('connected');
        this.fbRegister();
      } else if (response.status === 'not_authorized') {
        // console.log('not_authorized');
        this.fbLogin();
      }
    },
    fbTrigger: function fbTrigger() {
      FB.getLoginStatus((response) => {
        // console.log(response);
        this.statusChangeCallback(response);
      });
    },
    formSubmit: function formSubmit() {
      this.regTrigger(this.name, this.email);
    },
    regTrigger: function regTrigger(name, email) {
      const dataToSend = {
        name,
        email,
        campaign: 'http://sfb.multinetlabs.com/cmpc/campanas/10/',
        newsletter: '0',
      };
      this.$http.post('http://sfb.multinetlabs.com/cmpc/registros/', dataToSend).then((response) => {
        // console.info('Success!!', response);
        this.$router.push({
          name: 'share',
        });
      }, (response) => {
        // console.info('Error!!', response);
      });
    },
  },
  watch: {
    'name'(val) {
      // console.log(val);
    },
    'email'(val) {
      // console.log(val);
    },
  },
};
</script>

<style lang="scss" scoped>
$breaks:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}
  .message{
    margin-bottom: 10px;
    @include respond-to(xs){
      padding: 5px;
      margin-top: -20vh;
      border-radius: 10px;
      min-height: 100px;
    }
  }
  .separator{
    display: block;
    text-align: center;
    color: white;
  }
  h3{
    text-transform: none;
    font-weight: normal;
    strong{
      font-weight: bold;
    }
    @include respond-to(xs){
      font-size: 15px;
    }
  }
  form{
    .form-control{
      padding: 14px 20px;
    }
  }
  .btn-rojo{
    background-color: #f34d59;
    animation: shake 0.6s ease infinite;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
  }
  .btn-facebook{
    background-color: #00abe0;
    animation: shake 0.5s ease infinite;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
  span.separator{
    position: relative;
    &:after{
      position: absolute;
      content: ' ';
      left: 0;
      right: 55%;
      border-top: 1px solid white;
      top: 50%;
    }
    &:before{
      position: absolute;
      content: ' ';
      left: 55%;
      right: 0;
      border-top: 1px solid white;
      top: 50%;
    }
  }
</style>
