<template>
  <div class="francis-lateral">
    <div v-if="checkRoute() == 'start'">
      <transition-group appear name="bounce" class="francis-wrapper">
        <img v-show="carousel == 0" class="img-fluid" v-bind:key="0" src="../assets/francis-0.png" alt="" />
        <img v-show="carousel == 1" class="img-fluid" v-bind:key="1" src="../assets/francis-1.png" alt="" />
        <img v-show="carousel == 2" class="img-fluid img-celular" v-bind:key="2" src="../assets/francis-2.png" alt="" />
      </transition-group>
    </div>
    <div v-if="checkRoute() == 'game' && timer <= 14">
      <transition appear name="bounce">
        <div class="francis-wrapper">
          <img v-show="franstatus == 0" class="img-fluid" src="../assets/francis-0.png" alt="" />
          <img v-show="franstatus == 1" class="img-fluid" src="../assets/francis-1.png" alt="" />
        </div>
      </transition>
    </div>
    <div v-if="checkRoute() == 'message'">
      <div class="francis-wrapper">
        <transition appear name="bounce">
          <img v-show="franstatus == 2" class="img-fluid" src="../assets/francis-2.png" alt="" />
        </transition>
        <transition appear name="bounce">
          <img v-show="franstatus == 3" class="img-fluid" src="../assets/francis-3.png" alt="" />
        </transition>
        <transition appear name="bounce">
          <img v-show="franstatus == 4" class="img-fluid" src="../assets/francis-4.png" alt="" />
        </transition>
        <transition appear name="bounce">
          <img v-show="franstatus == 5" class="img-fluid" src="../assets/francis-5.png" alt="" />
        </transition>
        <transition appear name="bounce">
          <img v-show="franstatus == 6" class="img-fluid" src="../assets/francis-6.png" alt="" />
        </transition>
        <transition appear name="bounce">
          <img v-show="franstatus == 7" class="img-fluid img-burro" src="../assets/francis-7.png" alt="" />
        </transition>
      </div>
    </div>
    <div v-show="checkRoute() == 'end'">
      <transition appear name="bounce">
        <div class="francis-wrapper">
          <img class="img-fluid" src="../assets/francis-6.png" alt="" />
        </div>
      </transition>
    </div>
    <div v-show="checkRoute() == 'share'">
      <transition appear name="bounce">
        <div class="francis-wrapper">
          <img class="img-fluid img-gorro" src="../assets/francis-8.png" alt="" />
        </div>
      </transition>
    </div>
    <div v-show="checkRoute() == 'goal'">
      <transition appear name="bounce">
        <div class="francis-wrapper">
          <img class="img-fluid img-gorro" src="../assets/francis-8.png" alt="" />
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex';

export default {
  name: 'FrancisLateral',
  methods: {
    checkRoute: function checkRoute() {
      return this.$route.name;
    },
  },
  watch: {
    '$route'(to) {
      // console.log('checkRoute', to);
      this.checkRoute();
    },
  },
  computed: mapState({
    carousel: state => state.carousel,
    count: state => state.count,
    timer: state => state.timer,
    franstatus: state => state.franstatus,
  }),
};
</script>
<style lang="scss" scoped>

$breaks:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}
  .francis-lateral{
    text-align: center;
    height: calc(100vh - 61px);
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .route-game &{
      height: calc(100vh - 141px);
    }
    @include respond-to(xs){
      height: 100vh;
    }
  }
  .francis-wrapper{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: visible;
    .route-start &{
      top: -20px;
      @include respond-to(xs){
        top: 0px;
        bottom: 0;
        overflow: visible;
      }
    }
    .route-game &{
      bottom: -20px;
      @include respond-to(xs){
        top: 0px;
        bottom: 0;
        overflow: visible;
      }
    }
    .route-message &{
      overflow: visible;
    }
    .route-end &{
      overflow: visible;
    }
    img{
      position: absolute;
      left: 14%;
      top: 50%;
      margin-top: -320px;
      @include respond-to(xs){
        bottom: auto;
        top: auto;
        left: -13vw;
        margin-top: 0;
        max-width: none;
        height: 90vh;
        // border: 1px solid #0f0 !important;
        .route-start &{
          height: 75vh;
          top: 50%;
          margin-top: -45vh;
          left: -8vw;
          &.img-celular{
            left: -12vw;
          }
        }
        .route-message &{
          height: 80vh;
          top: 50%;
          margin-top: -45vh;
          left: -16vw;
        }
        .route-end &{
          height: 70vh;
          top: 50%;
          margin-top: -45vh;
          left: -10vw;
        }
        .route-share &{
          height: 90vh;
          top: 50%;
          margin-top: -45vh;
          left: -12vw;
        }
      }
      &.img-burro{
        margin-top: -550px;
        @include respond-to(xs){
          margin-top: -65vh;
          height: 98vh;
          left: -8vw;
        }
      }
      &.img-gorro{
        margin-top: -550px;
        @include respond-to(xs){
          top: 50%;
          margin-top: -50vh;
          height: 80vh;
          left: -15vw;
        }
      }
    }
  }
  .bounce-enter{
    z-index: 2;
  }
  .bounce-enter-active {
    animation: bounce-in 0.5s;
    z-index: 2;
  }
  .bounce-leave{

  }
  .bounce-leave-active {
    animation: bounce-out 0.5s;
    opacity: 0.2;
  }
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes bounce-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(0);
    }
  }

</style>
