<template>
  <div>
    <transition name="fade" mode="out-in">
      <div class="game" v-show="timer <= 15">
        <h2>
          <small>Busca la palabra</small> {{word}}
        </h2>
        <div class="game-grid">
          <div class="game-holder"></div>
        </div>
      </div>
    </transition>
    <Overlay></Overlay>
  </div>
</template>
<script>
import $ from 'jquery';
import _ from 'underscore';
import PatternLock from 'patternlock';
import { mapState, mapMutations } from 'vuex';
import Overlay from './Overlay';

export default {
  components: {
    Overlay,
  },
  data() {
    return {
      word: '',
      matrix: [],
      lock: null,
      matx: 8,
      maty: 8,
    };
  },
  computed: mapState({
    count: state => state.count,
    timer: state => state.timer,
    words: state => state.words,
  }),
  watch: {
    timer: {
      handler: function watchTimerHandler(val) {
        // console.log('TIMER:', val);
        if (val < 0) {
          this.decreaseLives();
          this.franset(7);
          this.$router.replace({
            name: 'message',
            params: {
              id: 'time',
            },
          });
        }
      },
      deep: true,
    },
  },
  created: function created() {
    this.onCreated();
  },
  destroyed: function destroyed() {
    this.resetTimer();
  },
  methods: {
    onCreated: function onCreated() {
      try {
        this.lock.reset();
      } catch (err) {
        // console.log(err);
      }
    },
    ...mapMutations([
      'increment',
      'resetTimer',
      'decreaseTimer',
      'franidle',
      'franset',
      'decreaseLives',
    ]),
    initTimer: function initTimer() {
      // console.log(this.timeoutID);
      if (typeof this.timeoutID === 'number') {
        this.cancelTimer();
      }
      this.timeoutID = window.setInterval(this.decreaseTimer, 1000);
    },
    cancelTimer: function cancelTimer() {
      window.clearInterval(this.timeoutID);
      this.timeoutID = undefined;
    },
    initClicker: function initClicker() {
      // console.log(this.clickerID);
      if (typeof this.clickerID === 'number') {
        // console.log(this.clickerID);
        this.cancelClicker();
      }
      this.clickerID = window.setInterval(this.checkClicker, 10);
    },
    checkClicker: function checkClicker() {
      if (window.onmousedown) {
        // console.log('click!');
      }
      // console.log(window.ontouchstart);
    },
    cancelClicker: function cancelClicker() {
      window.clearInterval(this.clickerID);
      this.clickerID = undefined;
    },
    getMatrixSize: (matrix) => {
      const y = matrix.length;
      const x = matrix[0].length;
      return {
        x, y,
      };
    },
    insertIntoMatrix: function insertIntoMatrix(phrase, matrix) {
      const matrixLength = this.getMatrixSize(matrix);
      const possibleDirections = _.keys(this.surroundings());
      const position = this.randomPosition(matrixLength.x, matrixLength.y);
      const initialDirections = ['down', 'right'];
      const vector = this.composeVector(phrase, position.resx, position.resy, matrix, initialDirections[Math.random()], possibleDirections);
      let newMatrix = matrix;
      _.each(vector, (unit) => {
        newMatrix = this.setCellValue(unit.letter, unit.x, unit.y, newMatrix);
      });
      return newMatrix;
    },
    randomPosition: (x, y) => {
      const resx = Math.floor(Math.random() * x);
      const resy = Math.floor(Math.random() * y);
      // const resx = 7;
      // const resy = 2;
      return {
        resx, resy,
      };
    },
    composeVector: function composeVector(phrase, initialX, initialY, matrix, initialDirection, possibleDirections) {
      const letters = phrase.split('');
      const vector = [];
      let position = {
        x: initialX,
        y: initialY,
      };
      const posY = initialY;
      const self = this;
      let nextPosition;
      let direction = initialDirection;
      _.each(letters, (letter) => {
        const exists = this.getCellValue(position.x, position.y, matrix);
        nextPosition = self.surroundings(position.x, position.y, matrix)[direction];
        if (nextPosition) {
          position = nextPosition;
          vector.push({
            letter,
            x: position.x,
            y: position.y,
            direction,
          });
        }
        while (!nextPosition) {
          const lastDirection = _.last(vector) ? _.last(vector).direction : initialDirection;
          direction = this.getNextDirection(direction, possibleDirections, lastDirection);
          nextPosition = self.surroundings(position.x, position.y, matrix)[direction];
          if (nextPosition) {
            position = nextPosition;
            vector.push({
              letter,
              x: position.x,
              y: position.y,
            });
          }
        }
      });
      return vector;
    },
    getNextDirection: (direction, directions, lastDirection) => {
      const reverse = {
        down: 'up',
        // downRight: 'upLeft',
        right: 'left',
        // upRight: 'downLeft',
        up: 'down',
        // upLeft: 'downRight',
        left: 'right',
        // downLeft: 'upRight',
      };
      const position = _.indexOf(directions, direction);
      let res = (directions[position + 1]) ? directions[position + 1] : 0;
      if (reverse[lastDirection] === res) {
        res = (directions[position + 2]) ? directions[position + 2] : 0;
      }
      return res;
    },
    spliceFromWords: (arr) => {
      return arr.splice(1, 1);
    },
    getCellValue: (x, y, matrix) => {
      let value;
      let hasValue;
      try {
        hasValue = matrix[y][x] !== undefined;
        value = hasValue ? matrix[y][x] : null;
      } catch (e) {
        value = null;
      }
      return value;
    },
    hasCell: (x, y, matrix) => {
      let value;
      let hasValue;
      try {
        hasValue = matrix[y][x] !== undefined;
        value = hasValue ? { x, y } : null;
      } catch (e) {
        value = null;
      }
      return value;
    },
    setCellValue: (letter, x, y, matrix) => {
      let value;
      let hasValue;
      const newMatrix = matrix;
      let res;
      try {
        hasValue = matrix[y][x] !== undefined;
        value = hasValue ? matrix[y][x] : null;
        if (value) {
          newMatrix[y][x] = letter;
        }
      } catch (e) {
        value = null;
      }
      if (value) {
        res = newMatrix;
      }
      return res;
    },
    getInternalPosition: (number, x, y) => {
      const posY = Math.floor((number - 1) / y);
      const posX = (number - 1) - (posY * x);
      return {
        posX, posY, number,
      };
    },
    getPattern: function getPattern(patternString, matrix) {
      const pattern = patternString.split(',');
      const self = this;
      let letters = [];
      for (let i = 0; i < pattern.length; i++) {
        const internalPosition = this.getInternalPosition(pattern[i], 8, 8);
        const letter = this.getCellValue(internalPosition.posX, internalPosition.posY, matrix);
        letters.push(letter);
      }
      letters = letters.join('');
      if (letters === this.word) {
        this.onCreated();
        this.destroyGrid();
        this.increment();
        this.resetTimer();
        this.$router.replace({
          name: 'message',
          params: {
            id: 'next',
          },
        });
      }
    },
    setRandomMatrix: function matrix(x, y) {
      const makeRow = () => {
        const res = [];
        for (let j = 0; j < x; j++) {
          res.push(this.randomLetter());
        }
        return res;
      };
      const makeMatrix = () => {
        const res = [];
        for (let j = 0; j < x; j++) {
          res[j] = makeRow();
        }
        return res;
      };
      return makeMatrix();
    },
    matrixToArray: (matrix) => {
      const res = [];
      matrix.map(row => (
        row.map(col => (
          res.push(col)
        ))
      ));
      return res;
    },
    randomLetter: () => {
      const possible = 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ';
      const pos = Math.floor(Math.random() * possible.length);
      return possible[pos];
    },
    generateNumberedMatrix: (x, y) => {
      let counter = 0;
      const res = [];
      for (let j = 0; j < y; j++) {
        const arr = [];
        for (let i = 0; i < x; i++) {
          counter++;
          arr.push(counter);
        }
        res[j] = arr;
      }
      return res;
    },
    surroundings: function surroundings(x, y, matrix) {
      return {
        down: this.hasCell(x, y + 1, matrix),
        // downRight: this.hasCell(x + 1, y + 1, matrix),
        right: this.hasCell(x + 1, y, matrix),
        // upRight: this.hasCell(x + 1, y - 1, matrix),
        up: this.hasCell(x, y - 1, matrix),
        // upLeft: this.hasCell(x - 1, y - 1, matrix),
        left: this.hasCell(x - 1, y, matrix),
        // downLeft: this.hasCell(x - 1, y + 1, matrix),
      };
    },
    createGrid: function createGrid() {
      const self = this;
      let padd = $('.game').css('padding');
      padd = padd.split(' ');
      padd = padd[1] ? parseInt(padd[1], 10) : 0;
      const wrapperheight = ($('.wrapper-main').height() - 68);
      const gamewidth = ($('.col-game-wrapper').width() - padd * 2);
      let opts = this.calcRadiusWidth(gamewidth);
      if (wrapperheight < gamewidth) {
        opts = this.calcRadiusWidth(wrapperheight);
      }
      this.lock = new PatternLock('.game-holder', {
        matrix: opts.matrix,
        margin: opts.margin,
        radius: opts.radius,
        letterMatrix: this.matrixToArray(this.matrix),
        onDraw: function pattern(elpattern) {
          self.getPattern(elpattern, self.matrix);
        },
      });
    },
    destroyGrid: function destroyGrid() {
      this.createGrid();
    },
    calcRadiusWidth: function calcRadiusWidth(width) {
      const opts = {
        matrix: [8, 8],
        margin: 4,
      };
      // total =  (matrix[1] * (radius * 2 + margin * 2) + margin * 2);
      // radius =  (width / (matrix)) - ((margin * 2) * matrix)
      // const radius = ((width - ((4 * 2) * 8)) / 8) / 2;
      const radius = Math.floor(((width - ((opts.margin * 2) * opts.matrix[0])) / opts.matrix[0]) / 2);
      return {
        radius,
        ...opts,
      };
      // console.log('total:', total, 'disponible:', width, 'radiuspropuesto:', radius);
    },
  },
  mounted: function mounted() {
    this.franset(1);
    this.matrix = this.setRandomMatrix(this.matx, this.maty);
    this.words = _.shuffle(this.words);
    this.word = this.spliceFromWords(this.words);
    this.word = this.word[0];
    this.matrix = this.insertIntoMatrix(this.word, this.matrix);
    this.createGrid();
    this.initTimer();
    this.initClicker();
  },
  beforeDestroy: function beforeDestroy() {
    // console.log('beforeDestroy');
    this.cancelTimer();
    this.cancelClicker();
  },
};
</script>
<style lang="scss">
$breaks: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}

.game{
  padding: 0 21px;
  @include respond-to(xs){
    padding: 0;
  }
  @include respond-to(sm){
    padding: 0;
  }
  @include respond-to(md){
    padding: 0;
  }
  h2{
    font-family: 'Cubano', sans-serif;
    font-size: 53px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 0px;
    @include respond-to(xs){
      margin-top: 6px;
      font-size: 30px;
      margin-bottom: 0px;
    }
    small{
      font-family: 'Avenir', sans-serif;
      font-size: 22px;
      line-height: 10px;
      font-weight: 800;
      text-transform: uppercase;
      display: block;
      letter-spacing: normal;
      padding-bottom: 0;
      @include respond-to(xs){
        font-size: 16px;
      }
    }
  }
  .letter{
    // border: 1px solid #0f0;
    font-family: 'Cubano', sans-serif;
    color: #5dc6ba;
    text-transform: uppercase;
    font-size: 32px;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 2;
    @include respond-to(xs){
      font-size: 26px;
    }
  }
  .hovered .letter{
    color: white;
  }
}

@font-face {
	font-family: 'Cubano';
  src: url('../assets/fonts/cubano-regular-webfont.eot');
  src: url('../assets/fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/cubano-regular-webfont.woff2') format('woff2'),
      url('../assets/fonts/cubano-regular-webfont.woff') format('woff'),
      url('../assets/fonts/cubano-regular-webfont.ttf') format('truetype'),
      url('../assets/fonts/cubano-regular-webfont.svg#Cubano') format('svg');
   font-weight: normal;
   font-style: normal;
	font-weight: normal;
	font-style: normal;
}

.game-grid{
  background-color: white;
  border-radius: 24px;
  font-weight: 400;
  padding: 12px 0;
  @include respond-to(xs){
    padding: 0;
  }
}

.patt-holder{
  -ms-touch-action: none;
  // background: rgba(green, .2);
  margin: 0 auto;
}

.patt-wrap{
  position: relative;
  cursor: pointer;
}

.patt-wrap ul,
.patt-wrap li{
	list-style: none;
	margin:0;
	padding: 0;
}

.patt-circ{
	position: relative;
	float: left;
	box-sizing: border-box;
  background-color: white;
}

.patt-circ.hovered{
	background-color: #f34d59;
}

.patt-error .patt-circ.hovered{

}

.patt-hidden .patt-circ.hovered{
  border: 0;
}

.patt-dots{
	background-color: white;
	width: 10px;
  height: 10px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5px;
	margin-left: -5px;
}

.patt-lines{
	border-radius: 5px;
	height: 10px;
	background-color: #f34d59;
	position: absolute;
	transform-origin: 5px 5px;
	-ms-transform-origin: 5px 5px; /* IE 9 */
	-webkit-transform-origin: 5px 5px;
}

.patt-hidden .patt-lines{
	display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

</style>
