<template>
  <div class="message">
    <div v-if="(checkParams() === 'time')">
      <div v-if="lives > 1 && lives <= 3">
        <h3>No te preocupes</h3>
        <h2>¡Te quedan {{lives}} oportunidades!</h2>
        <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
      </div>
      <div v-if="lives === 1">
        <h3>AHORA SÍ PREOCÚPATE</h3>
        <h2>¡Te queda {{lives}} oportunidad!</h2>
        <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
      </div>
      <div v-if="lives > 3">
        <h3>¡JUEGUE NO MÁS!</h3>
        <h2>¡Te quedan {{lives}} oportunidades más!</h2>
        <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
      </div>
      <div v-if="lives == 0">
        <h3>¡NOOO!</h3>
        <h2>¡COMPARTA PARA JUGAR!</h2>
        <router-link class="btn btn-jugar btn-block" to="/">¡Inicio!</router-link>
      </div>
    </div>
    <div v-show="(checkParams() === 'next')">
       <div v-show="franstatus === 3">
         <h2>¡VAAAMOS A VER!</h2>
       </div>
       <div v-show="count === 0 && franstatus != 3">
         <h2>¡NO ESTÁS JUGANDO!</h2>
         <h3>¡PERO TE LLEVO!</h3>
         <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
       </div>
       <div v-show="count === 1 && franstatus != 3">
         <h2>¡CORRECTOOO!</h2>
         <h3>¡QUE VENGA LA SIGUIENTE!</h3>
         <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
       </div>
       <div v-show="count === 2 && franstatus != 3">
         <h2>¡YA! ¡EL APLAUSO DEL PÚBLICO!</h2>
         <h3> Nova en Teletón,<br />2 y 3 de diciembre</h3>
         <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
       </div>
       <div v-show="count === 3 && franstatus != 3">
         <h2>¡VAMOS POR MÁS!</h2>
         <h3>Has llegado a la tercera Nova de letras.</h3>
         <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
       </div>
       <div v-show="count === 4 && franstatus != 3">
         <h2>¡VAMOS CHILEE!</h2>
         <h3>¡YA CASI ESTAMOS EN LA META!</h3>
         <router-link class="btn btn-jugar btn-block" to="/game">¡Vamos al juego!</router-link>
       </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';

export default {
  mounted: function mounted() {
    // console.log('params:', this.checkParams());
    if (this.checkParams() === 'next') {
      this.franset(3);
      this.initTimer();
    }
  },
  computed: mapState({
    lives: state => state.lives,
    count: state => state.count,
    franstatus: state => state.franstatus,
  }),
  watch: {
    franstatus: {
      handler: function watchFran(val) {
        // console.log('fran:', val);
        if (val !== 3 && this.count >= 5) {
          this.$router.push({
            name: 'end',
          });
        }
      },
    },
  },
  methods: {
    initTimer: function initTimer() {
      // console.log('initTimer', this.timeoutID);
      if (typeof this.timeoutID === 'number') {
        this.cancelTimer();
      }
      this.timeoutID = window.setTimeout(() => {
        const imgMap = {
          0: 6,
          1: 6,
          2: 4,
          3: 5,
          4: 4,
          5: 8,
        };
        this.franset(imgMap[this.count]);
      }, 1000);
    },
    cancelTimer: function cancelTimer() {
      // console.log('cancelTimer');
      window.clearTimeout(this.timeoutID);
      this.timeoutID = undefined;
    },
    ...mapMutations([
      'franset',
    ]),
    checkRoute: function checkRoute() {
      return this.$route.name;
    },
    checkParams: function checkParams() {
      return this.$route.params.id;
    },
    beforeDestroy: function beforeDestroy() {
      this.cancelTimer();
    },
  },
};
</script>

<style lang="scss">
$breaks:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}
  .message{
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    position: relative;
    @include respond-to(xs){
      padding: 5px;
      margin-top: -35vh;
      border-radius: 10px;
      min-height: 150px;
    }
    &:after{
      content: ' ';
      background: transparent url(../assets/vignette.svg) no-repeat left bottom;
      width: 64px;
      height: 67px;
      position: absolute;
      left: 100%;
      bottom: 30px;
      @include respond-to(xs){
        left: 86%;
        z-index: -1;
      }
    }
    h3{
      color: #5dc6ba;
      font-family: 'Avenir', sans-serif;
      font-size: 30px;
      font-weight: 800;
      text-transform: uppercase;
      @include respond-to(xs){
        font-size: 18px;
      }
    }
    h2{
      color: #f34d59;
      font-family: 'Cubano', sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      @include respond-to(xs){
        font-size: 23px;
      }
    }
    .btn-jugar{
      font-size: 12px;
      padding-left: 6px;
      padding-right: 5px;
      text-align: center;
    }
  }
</style>
