<template>
  <transition name="fade" mode="out-in">
    <div class="overall">
      <h1 class="text">{{phrase}}</h1>
    </div>
  </transition>
</template>
<script>
import _ from 'underscore';

export default {
  props: {
    defaultPhrases: {
      type: Array,
      default: () => {
        return [
          '¡¡VAAAAAMOOOOOS CON TODOOOOOOOOO!!',
          '¡¡EL APLAUSO DEL PÚBLICOOOOOOOOO!!',
          '¡¿QUÉ DICEEE EL PÚBLICOOOOOOOOOO?!',
        ];
      },
    },
  },
  data() {
    return {
      phrases: this.defaultPhrases,
    };
  },
  created: function created() {
    this.onCreated();
  },
  mounted: function mounted() {
    this.initTimer();
  },
  beforeDestroy: function beforeDestroy() {
    // console.log('beforeDestroy');
  },
  methods: {
    onCreated: function onCreated() {
      this.phrases = _.shuffle(this.phrases);
      this.phrase = this.phrases[0];
    },
    initTimer: function initTimer() {
      // console.log(this.timeoutID);
      if (typeof this.timeoutID === 'number') {
        this.cancelTimer();
      }
      this.timeoutID = window.setTimeout(this.deleteThis, 3200);
    },
    cancelTimer: function cancelTimer() {
      window.clearTimeout(this.timeoutID);
      this.timeoutID = undefined;
    },
    deleteThis: function deleteThis() {
      this.$el.remove();
    },
  },
};
</script>
<style lang="scss">
  .overall{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 10;
    h1{
      font-size: 300px;
      // width: 200vw;
      color: white;
      font-family: 'Cubano', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 30px;
      line-height: 100vh;
      white-space: nowrap;
      animation: banner 3s linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      transform: translateX(200vw);
    }
  }
  @keyframes banner {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(-10240px);
    }
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>
