<template></template>
<script>
/* eslint-disable prefer-template */
let SrMixins = {
  popup: {
    template: '<a :href="this.concatNetwork(network)" @click.prevent="$parent.share(network)"><slot></slot></a>',
    methods: {
      concatNetwork: function concatNetwork(network) {
        return '#share' + network;
      },
    },
  },
  direct: {
    template: '<a :href="$parent.getSharer(network)" :data-action="attributes(\'data-action\')" @click="$parent.touch(network)"><slot></slot></a>',
    methods: {
      attributes: function atributes(key) {
        return this.attr !== undefined && this.attr[key] !== undefined
            ? this.attr[key]
            : undefined;
      },
    },
  },
};

const facebook = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'facebook',
    };
  },
};

const twitter = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'twitter',
    };
  },
};

const googleplus = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'googleplus',
    };
  },
};

const pinterest = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'pinterest',
    };
  },
};

const reddit = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'reddit',
    };
  },
};

const linkedin = {
  mixins: [SrMixins.popup],
  data: function data() {
    return {
      network: 'linkedin',
    };
  },
};

const whatsapp = {
  mixins: [SrMixins.direct],
  data: function data() {
    return {
      network: 'whatsapp',
      attr: {
        'data-action': 'share/whatsapp/share',
      },
    };
  },
};

export default{
  props: {
    url: {
      type: String,
    },
    title: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    twitterUser: {
      type: String,
      default: '',
    },
    withCounts: {
      type: [String, Boolean],
      default: false,
    },
    googleKey: {
      type: String,
      default: undefined,
    },
  },
  data: function data() {
    return {
      networks: {
        facebook: {
          sharer: 'https://www.facebook.com/sharer/sharer.php?u=@url&summary=@title',
          stats: 'https://api.facebook.com/method/links.getStats?urls=@url&format=json',
        },
        twitter: {
          sharer: 'https://twitter.com/intent/tweet?text=@description&url=@url&via=@twitteruser',
        },
        googleplus: {
          sharer: 'https://plus.google.com/share?url=@url',
          stats: 'https://plusone.google.com/_/+1/fastbutton?url=@url',
        },
        pinterest: {
          sharer: 'https://pinterest.com/pin/create/button/?url=@url&description=@title',
        },
        reddit: {
          sharer: 'http://www.reddit.com/submit?url=@url&title=@title',
        },
        linkedin: {
          sharer: 'https://www.linkedin.com/shareArticle?mini=true&url=@url&title=@title&summary=@description',
        },
        whatsapp: {
          sharer: 'whatsapp://send?text=@url',
        },
      },
      popup: {
        status: false,
        resizable: true,
        toolbar: false,
        menubar: false,
        scrollbars: false,
        location: false,
        directories: false,
        width: 626,
        height: 436,
        top: 0,
        left: 0,
        window: undefined,
      },
    };
  },
  methods: {
    /* eslint-disable no-useless-escape */
    getSharer: function getSharer(network) {
      return this.networks[network].sharer.replace(/\@url/g, this.url)
        .replace(/\@title/g, this.title)
        .replace(/\@description/g, this.description)
        .replace(/\@twitteruser/g, this.twitterUser);
    },
    share: function share(network) {
      if (this.url !== undefined) {
        this.openSharer(this.getSharer(network));
      }
      this.$emit('social_shares_click', network, this.url);
    },
    touch: function touch(network) {
      this.$emit('social_shares_click', network, this.url);
    },
    openSharer: function openSharer(url) {
      this.popup.window = window.open(
        url,
        'sharer',
        'status=' + (this.popup.status ? 'yes' : 'no') +
        ',height=' + this.popup.height +
        ',width=' + this.popup.width +
        ',resizable=' + (this.popup.resizable ? 'yes' : 'no') +
        ',left=' + this.popup.left +
        ',top=' + this.popup.top +
        ',screenX=' + this.popup.left +
        ',screenY=' + this.popup.top +
        ',toolbar=' + (this.popup.toolbar ? 'yes' : 'no') +
        ',menubar=' + (this.popup.menubar ? 'yes' : 'no') +
        ',scrollbars=' + (this.popup.scrollbars ? 'yes' : 'no') +
        ',location=' + (this.popup.location ? 'yes' : 'no') +
        ',directories=' + (this.popup.directories ? 'yes' : 'no')
      );
    },
  },
  mounted: function mounted() {
    if (this.url === undefined) {
      this.url = window.location.href;
    }

    const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : screen.left;
    const dualScreenTop = window.screenTop !== undefined ? window.screenTop : screen.top;

    this.popup.left = parseInt((window.innerWidth / 2) - ((this.popup.width / 2)), 10) + dualScreenLeft;
    this.popup.top = parseInt((window.innerHeight / 2) - ((this.popup.height / 2)), 10) + dualScreenTop;
  },
  components: {
    facebook,
    twitter,
    googleplus,
    pinterest,
    reddit,
    linkedin,
    whatsapp,
  },
};
SrMixins = undefined;
</script>
