<template>
  <div class="share-wrapper">
    <div class="message">
      <h2>¡GRACIAS POR PARTICIPAR!</h2>
      <h3>Compártelo con tus amigos para alcanzar la meta de 10.000 rollos de Toalla Nova</h3>
    </div>
    <Sharers inline-template description="Yo apoyo a la Teletón con Nova ¡Juega tú también y ayuda a donar rollos de Toalla Nova!" url="http://www.nova.cl/teleton-2016/">
      <div class="sharer-end-wrapper">
        <facebook>
          <a class="btn btn-facebook btn-block">Comparte <i class="fa fa-facebook" aria-hidden="true"></i></a>
        </facebook>
        <twitter>
          <a class="btn btn-twitter btn-block">Comparte <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </twitter>
      </div>
    </Sharers>
  </div>
</template>
<script>
import Sharers from './Sharers';
export default {
  name: 'Share',
  components: {
    Sharers,
  },
};
</script>
<style lang="scss">
$breaks:(
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}

.share-wrapper{
  position: relative;
  h3{
    text-transform: none;
    font-weight: normal;
  }
}

.btn-facebook{
  background-color: #0089e0;
  animation: shake 0.8s ease infinite;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  color: white !important;
  &:hover{
    text-decoration: none !important;
  }
}

.btn-twitter{
  background-color: #3dccf8;
  animation: shake 0.9s ease infinite;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
  color: white !important;
  &:hover{
    text-decoration: none !important;
  }
}

.sharer-end-wrapper{
  a{
    margin: 15px 0;
  }
}


.bounce-enter{
  z-index: 2;
}
.bounce-enter-active {
  animation: bounce-in 0.5s;
  z-index: 2;
}
.bounce-leave{

}
.bounce-leave-active {
  animation: bounce-out 0.5s;
  opacity: 0.2;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0);
  }
}
</style>
