<template>
  <div class="carousel">
    <div class="item">
      <div class="row">
        <div class="col-sm-9">
          <p>
            <strong>Nova en Teletón</strong> te invita a descubrir sus múltiples usos y ayudar a llegar a la <strong>meta de 10.000 rollos</strong> de toalla Nova para los niños de la Teletón!
          </p>
        </div>
        <div class="col-sm hidden-xs-down">
          <img src="../assets/icon-smile.png" alt="Comparte una sonrisa con los niños de la Teletón" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-sm-9">
          <p>
            Descubre las palabras asociadas a los usos Nova, <strong>formándolas con tu dedo en cualquier dirección.</strong>
          (nunca debes soltar el dedo). Tienes 15 segundos por cada nivel.
          </p>
        </div>
        <div class="col-sm hidden-xs-down">
          <img src="../assets/puzzle.gif" alt="Cómo debes hacerlo" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-sm-9">
          <p>Si logras completar los 5 niveles, <strong>estarás ayudando a donar 5 rollos de Toalla Nova a la Teletón.</strong><br />
          ¡Juega, y ayúdanos a alcanzarla!</p>
        </div>
        <div class="col-sm hidden-xs-down">
          <img src="../assets/icon-heart.png" alt="Regálale tu corazón a los niños de la Teletón" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery';
import 'slick-carousel';
import 'slick-carousel/slick/slick.css';
import 'slick-carousel/slick/slick-theme.css';
import { mapMutations } from 'vuex';

export default {
  methods: {
    ...mapMutations([
      'carousel',
    ]),
  },
  mounted: function mounted() {
    $('.carousel').not('.slick-initialized').slick({
      dots: true,
      autoplay: true,
      arrows: false,
      autoplaySpeed: 5000,
    })
    .on('beforeChange', (event, slick, currentSlide, nextSlide) => {
      this.carousel(nextSlide);
    });
  },
  destroyed: function destroyed() {
    $('.carousel').slick('unslick');
  },
};

</script>

<style lang="scss" >

  $breaks:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );

  @mixin respond-to($media) {
    @if $media == xs {
      @media only screen and (max-width: map-get($breaks, sm) - 1) {
        @content;
        // border: 1px solid black;
      }
    }
    @else if $media == sm {
      @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
        @content;
        // border: 1px solid #0f0;
      }
    }
    @else if $media == md {
      @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
        @content;
        // border: 1px solid #f0f;
      }
    }
    @else if $media == lg {
      @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
        @content;
        // border: 1px solid #f00;
      }
    }
    @else if $media == xl {
      @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
    }
  }

  .carousel{
    margin: 20px 0;
    p{
      font-size: 20px;
      line-height: normal;
      font-weight: 400;
      strong{
        font-weight: 900;
      }
    }
    @include respond-to(xs){
      p{
        font-size: 14px;
        text-align: center;
      }
    }
    .slick-dots li{
      button{
        color: white;
      }
      button:before{
        font-size: 14px;
        color: white;
        opacity: 1;
      }
      &.slick-active button:before{
        font-size: 21px;
        color: #86007b;
      }
    }
  }
</style>
