<template>
  <div class="start">
    <Computo class="hidden-sm-up"></Computo>
    <h1>
      <img src="../assets/logo-nova-teleton.png" alt="Nova y Teletón presentan:" class="img-fluid img-logo-nova-teleton" />
      <img src="../assets/logo-nova-de-letras.png" alt="Nova de Letras" class="img-fluid">
    </h1>
    <div class="hidden-sm-up">
      <h2 v-if="computo < 10000">NOVA SIRVE PARA TODO Y TAMBIÉN <br /><strong>PARA AYUDAR A LA TELETÓN</strong></h2>
      <h2 v-if="computo == 10000">HEMOS CUMPLIDO LA META DE <strong>10.000</strong> <br /> ROLLOS DE TOALLA NOVA</h2>
      <h1 v-if="computo == 10000" class="gracias">¡GRACIAS A TODOS POR PARTICIPAR!</h1>
      <router-link v-if="computo < 10000" class="btn btn-jugar btn-block" to="/game">Ir al juego</router-link>
      <slick v-if="computo < 10000"></slick>
    </div>
    <div class="hidden-xs-down">
      <slick v-if="computo < 10000" class="hidden-xs-down"></slick>
      <router-link v-if="computo < 10000" class="btn btn-jugar btn-block" to="/game">Ir al juego</router-link>
      <h2 v-if="computo < 10000">NOVA SIRVE PARA TODO Y TAMBIÉN <br /><strong>PARA AYUDAR A LA TELETÓN</strong></h2>
      <h2 v-if="computo == 10000">HEMOS CUMPLIDO LA META DE <strong>10.000</strong> <br /> ROLLOS DE TOALLA NOVA</h2>
      <h1 v-if="computo == 10000" class="gracias">¡GRACIAS A TODOS POR PARTICIPAR!</h1>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Slick from './Slick';
import Computo from './Computo';

export default {
  components: {
    Slick,
    Computo,
  },
  computed: {
    ...mapState({
      computo: state => state.computo,
    }),
  },
};
</script>

<style lang="scss" scoped>
$breaks: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: map-get($breaks, sm) - 1) {
      @content;
      // border: 1px solid black;
    }
  }
  @else if $media == sm {
    @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
      @content;
      // border: 1px solid #0f0;
    }
  }
  @else if $media == md {
    @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
      @content;
      // border: 1px solid #f0f;
    }
  }
  @else if $media == lg {
    @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
      @content;
      // border: 1px solid #f00;
    }
  }
  @else if $media == xl {
    @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
  }
}
h2 {
  margin-top: 20px;
  text-align: center;
  font-family: 'Avenir', sans-serif;
  font-size: 20px;
  font-weight: 400;
  @include respond-to(xs){
    font-size: 15px;
  }
}
.gracias{
  color: white;
  font-family: 'Cubano', sans-serif;
  font-size: 40px;
  text-align: center;
}
.img-logo-nova-teleton{
  padding: 0 20px 10px;
}
</style>
