<template>
  <div id="app" v-bind:class="'route-'+$route.name">
    <header class="header-score" v-if="showHeader" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-2">
            <div class="score">
              <h5>{{ count }}<span>/5</span><small>rollos</small></h5>
            </div>
          </div>
          <div class="col-xs-8">
            <h1>
              <img class="logo img-fluid" src="./assets/logo-nova-de-letras.png" />
            </h1>
          </div>
          <div class="col-xs-2">
            <transition name="fade" mode="out-in">
              <div class="timer" v-if="$route.name == 'game' && timer <= 15">
                <h5>{{ timer }} <small>tiempo</small></h5>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </header>
    <div class="container wrapper-main">
      <div class="row flex-items-xs-middle">
        <div class="col-lg-7 col-md-8 col-xl-6 col-game-wrapper" :class="{ 'col-xs-8': $route.name !== 'game' }">
          <main>
            <transition name="fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </main>
        </div>
        <div class="col-xs" :class="{ 'hidden-xs-down': $route.name === 'game'}">
          <FrancisLateral></FrancisLateral>
        </div>
      </div>
      <footer class="footer">
        <div class="container hidden-xs-down">
          <div class="row flex-items-xs-middle">
            <div class="col-md-6">
              <h2>
                <img src="./assets/logo-nova-negro.png" class="img-fluid img-logo-footer" alt="Nova por primera vez en Teletón" />
              </h2>
            </div>
            <div class="col-md-6 footer-right">
              <nav class="nav nav-inline">
                <a class="nav-link" href="https://www.youtube.com/watch?v=sY14vAXkULw" target="_blank">Ver Comercial</a>
                <a class="nav-link" href="bases.pdf" target="_blank">Ver Bases</a>
                <Sharers inline-template description="Yo apoyo a la Teletón con Nova ¡Juega tú también y ayuda a donar rollos de Toalla Nova!" url="http://www.nova.cl/teleton-2016/">
                  <span class="wrapper-social">
                    <facebook>
                      <a class="nav-link nav-link-sharer" href="#"><i class="fa fa-facebook"></i></a>
                    </facebook>
                    <twitter>
                      <a class="nav-link nav-link-sharer" href="#"><i class="fa fa-twitter"></i></a>
                    </twitter>
                  </span>
                </Sharers>
              </nav>
            </div>
          </div>
        </div>
        <div class="container hidden-sm-up">
          <div class="row flexible-items-xs-middle">
            <div class="col-xs-12 footer-center">
              <nav class="nav nav-inline">
                <a class="nav-link" href="https://www.youtube.com/watch?v=sY14vAXkULw" target="_blank">Ver Comercial</a>
                <a class="nav-link" href="bases.pdf" target="_blank">Ver Bases</a>
                <Sharers inline-template description="Yo apoyo a la Teletón con Nova ¡Juega tú también y ayuda a donar rollos de Toalla Nova!" url="http://www.nova.cl/teleton-2016/">
                  <span class="wrapper-social">
                    <facebook>
                      <a class="nav-link nav-link-sharer" href="#"><i class="fa fa-facebook"></i></a>
                    </facebook>
                    <twitter>
                      <a class="nav-link nav-link-sharer" href="#"><i class="fa fa-twitter"></i></a>
                    </twitter>
                  </span>
                </Sharers>
              </nav>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <div class="overlay-orientation" v-if="$route.name == 'share'">
      <h2>
        <img src="./assets/logo-nova-negro.png" alt="Nova y Teletón presentan:" class="img-fluid img-logo-nova-teleton" />
        <img src="./assets/logo-nova-de-letras.png" alt="Nova de Letras" class="img-fluid">
        ¡NOOOOOOO! <small>Debes dar la vuelta la pantalla. <br />¡Vamos de nuevo!</small></h2>
    </div>
    <Confetti v-if="$route.name == 'share' || $route.name == 'goal'"></Confetti>
    <Computo v-if="$route.name == 'start'" class="hidden-xs-down"></Computo>
  </div>
</template>

<script>
import FrancisLateral from './components/FrancisLateral';
import Overlay from './components/Overlay';
import Sharers from './components/Sharers';
import Confetti from './components/Confetti';
import Computo from './components/Computo';
import { mapState, mapMutations } from 'vuex';
/* globals $route */
export default {
  components: {
    FrancisLateral,
    Sharers,
    Confetti,
    Computo,
  },
  computed: {
    showHeader: function showHeader() {
      const bla = (this.$route.name !== 'start') && (this.$route.name !== 'end') && (this.$route.name !== 'share') && (this.$route.name !== 'goal');
      return bla;
    },
    ...mapState({
      count: state => state.count,
      timer: state => state.timer,
    }),
  },

};
</script>

<style lang="scss">

  $btn-padding-x:                  1.5rem !default;
  $btn-padding-y:                  1rem !default;
  $btn-line-height:                1.25 !default;
  $border-radius: 100rem !default;

  @font-face {
  	font-family: 'Avenir';
  	src: url('assets/fonts/Avenir-Medium.woff2') format('woff2');
  	font-weight: 500;
  	font-style: normal;
  }

  @font-face {
  	font-family: 'Avenir';
  	src: url('assets/fonts/Avenir-Black.woff2') format('woff2');
  	font-weight: 900;
  	font-style: normal;
  }

  $font-family-base: 'Avenir', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
  $fa-font-path:   '../node_modules/font-awesome/fonts/';
  $container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1140px
  ) !default;

  @import '../node_modules/font-awesome/scss/font-awesome';
  @import '../node_modules/bootstrap/scss/bootstrap-flex';

  $breaks:(
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  );

  @mixin respond-to($media) {
    @if $media == xs {
      @media only screen and (max-width: map-get($breaks, sm) - 1) {
        @content;
        // border: 1px solid black;
      }
    }
    @else if $media == sm {
      @media only screen and (min-width: map-get($breaks, sm) + 1) and (max-width: map-get($breaks, md) - 1) {
        @content;
        // border: 1px solid #0f0;
      }
    }
    @else if $media == md {
      @media only screen and (min-width: map-get($breaks, md) + 1) and (max-width: map-get($breaks, lg) - 1) {
        @content;
        // border: 1px solid #f0f;
      }
    }
    @else if $media == lg {
      @media only screen and (min-width: map-get($breaks, lg) + 1) and (max-width: map-get($breaks, xl) - 1) {
        @content;
        // border: 1px solid #f00;
      }
    }
    @else if $media == xl {
      @media only screen and (min-width: map-get($breaks, xl) + 1){ @content; }
    }
  }

  body{
    -webkit-font-smoothing: antialiased;
  }

  .btn{
    text-transform: uppercase;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 16px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }

  .fade-enter, .fade-leave-active {
    opacity: 0
  }

  #app{
    // background: linear-gradient(to right, rgba(255,255,255,0.01) 0%,rgba(0,0,0,0.05) 50%,rgba(5,5,5,0) 50%,rgba(255,255,255,0) 100%), url(assets/bg-letras.png) no-repeat center bottom, url(assets/bg.jpg) repeat top left;
    background: url(assets/border-horizontal.png) repeat-x top, url(assets/border-vertical.png) repeat-y left, url(assets/border-vertical.png) repeat-y right, url(assets/bg-letras.png) no-repeat center bottom, url(assets/bg.jpg) repeat top left;
    @include respond-to(lg){
      background-size: auto 10px, 10px auto, 10px auto, auto auto;
    }
    @include respond-to(md){
      background-size: auto 5px, 5px auto, 5px auto, auto auto;
    }
    @include respond-to(sm){
      background-size: auto 5px, 5px auto, 5px auto, auto auto;
    }
    @include respond-to(xs){
      background: url(assets/bg-letras.png) no-repeat center bottom, url(assets/bg.jpg) repeat top left;
    }
    $margin: 20px;
    height: calc(100vh - #{$margin}*2);
    padding: 20px 0;
    color: white;
    overflow: hidden;
    @include respond-to(xs){
      &.route-start{
        padding: 5px 0;
        height: calc(100vh - 34px);
      }
    }
  }

  .img-logo-footer{
    max-width: 226px;
  }

  .wrapper-main{
    height: calc(100vh - 141px);
    margin-top: 60px;
    @include respond-to(xs){
      height: calc(100vh - 121px);
      margin-top: 35px;
      padding-left: 8px;
      padding-right: 8px;
    }
    .route-start &{
      margin-top: 0;
      height: calc(100vh - 101px);
    }
    .route-share &{
      margin-top: 0;
      height: calc(100vh - 101px);
    }
    @include respond-to(xs){
      .route-start &{
        height: calc(100vh);
        margin-top: 0;
      }
      .route-end &{
        height: calc(100vh);
        margin-top: 0;
        padding-top: 8px;
      }
    }
  }

  .col-game-wrapper{
    z-index: 10;
  }

  .btn-amarillo{
    background-color: #ffc852;
    &:hover{
      color: white;
    }
  }
  .btn-jugar{
    background-color: #f4505c;
    animation: shake 0.6s ease infinite;
    margin-top: 10px;
    &:hover{
      color: white;
      animation: none;
    }
  }
  .header-score{
    background-color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    h1{
      margin: 0;
    }
    .logo{
      max-height: 60px;
      @include respond-to(xs){
        max-height: 42px;
        padding-top: 0;
        position: relative;
        top: -1px;
      }
    }
  }
  .score,
  .timer{
    width: 70px;
    height: 70px;
    background-color: #5dc6ba;
    position: relative;
    border-radius: 200px;
    text-align: center;
    padding: 1px;
    h5{
      margin-top: 5px;
      font-size: 32px;
      font-weight: 900;
    }
    small{
      display: block;
      font-size: 13px;
      text-transform: uppercase;
    }
    span{
      font-size: 24px;
    }
    @include respond-to(xs){
      width: 48px;
      height: 48px;
      margin: -2px 0;
      h5{
        font-size: 19px;
      }
      small{
        font-size: 9px;
      }
      span{
        font-size: 9px;
      }
    }
  }
  .timer{
    float: right;
    background-color: #f34d59;
  }
  .footer{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    z-index: 11;
    nav{
      a{
        color: #f34d59;
        font-size: 13px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
  html {
    -webkit-user-select: none;
  }
  .wrapper-social{
    margin-left: 8px;
  }
  .nav-link-sharer{
    padding: 0 6px;
  }
  .footer-right{
    text-align: right;
  }
  .footer-center{
    text-align: center;
  }
  @keyframes shake {
    0% {
      transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(0deg);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: rotate(0);
    }
  }

  .overlay-orientation{
    display: none;
    position: fixed;
    z-index: 12;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    align-items: center;
    h2{
      color: #f34d59;
      font-family: 'Cubano', sans-serif;
      font-size: 40px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      display: block;
      margin: 0 auto;
      small{
        display: block;
        color: #5dc6ba;
        font-family: 'Avenir', sans-serif;
        font-size: 21px;
        font-weight: normal;
        text-transform: none;
        text-align: center;
      }
      img{
        max-width: 100px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .overlay-orientation{
      display: flex;
    }
  }
</style>
